---
import '../styles/global.css';
import CartInit from "../components/CartInit"

interface Props {
  title: string;
  description?: string;
}

const { title, description = "Premium battery solutions" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <CartInit client:load />
    <slot />
  </body>
</html>